﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-lg-12">
        <form action="/Home/Calculate" method="post">
            <input type="number" name="a" value="" />
            <input type="number" name="b" value="" />
            <input type="text" name="result" value=@ViewBag.Result readonly/>
            <button type="submit">Calc</button>    
        </form>
    </div>
</div>
